*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'poppins', sans-serif;
}
.search-bar{
    width: 100;
    max-width: 700px;
    background:#1D232C;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 0.5px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input:hover{
    cursor: pointer;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    color:white;
    
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;


}
::placeholder{
    font-size: large;
}

.button-tag{
    width:100px;
    height: 50px;
    background: black;
    border: 2px solid gray;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
}
.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
}

.navbar-links{
    display: flex;
    column-gap: 20px;

}
.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}
.navbar-link a:hover {
    text-decoration:underline;
    color: gray;
}
.navbar-menu-toggle{
    display:none;
}
/*media query*/
@media screen and (max-width:700px)  {
    .navbar-menu-toggle{
        display:block;
    }
    .navbar-links{
        display:none ;
    }

    
}


.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
    
}
.side-navbar-link{
    margin-bottom: 30px;
}
.side-navbar-links a{
    text-decoration: none;
    color: white;

}
.side-navbar-links a:hover{
    text-decoration: underline;
    color: white;
}






/*--------------*/

.second{
width: 100%;
height: auto;
margin: 0 auto;
padding-bottom: 25px;
background: #171717;
}

.second .latest{
width: 95%;
margin: 0 auto;
}

.second .latest h1{
font-size: 20px;
color: #fff;
margin-top: 10px;
margin-bottom: 20px;
padding: 10px;
}

.second .latest .box{
display: flex;
align-items: center;
justify-content: space-between;
}

.second .latest .box .card{
width: 250px;
height: 370px;
margin: 10px;
overflow: hidden;
border-radius: 8px;
}

.second .latest .box .card .details{
width: 250px;
height: 370px;
overflow: hidden;
position: absolute;
border-radius: 8px;
transition: 0.3s;
opacity: 0;
}

.second .latest .box .card:hover .details{
opacity: 1;
background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.second .latest .box .card .details .left{
position: absolute;
bottom: 0;
color: #fff;
transform: translateX(-100px);
transition: 0.4s;
opacity: 0;
}

.second .latest .box .card:hover .details .left{
opacity: 1;
transform: translateX(0);
}

.second .latest .box .card .details .left p.name{
width: 100%;
font-size: 20px;
font-weight: bold;
margin-left: 10px;
margin-bottom: 10px;
}

.second .latest .box .card .details .left .date_quality{
display: flex;
align-items: center;
}

.second .latest .box .card .details .left .date_quality p.quality{
width: 30px;
font-size: 13px;
background: #ffe100;
color: #282931;
margin-left: 10px;
margin-bottom: 8px;
text-align: center;
font-weight: bold;
}

.second .latest .box .card .details .left .date_quality p.date{
color: #fff;
font-size: 15px;
font-weight: bold;
text-align: left;
margin-left: 10px;
margin-bottom: 8px;
}

.second .latest .box .card .details .left p.category{
margin-left: 10px;
font-size: 13px;
margin-bottom: 8px;
}

.second .latest .box .card .details .left .info{
display: flex;
align-items: center;
margin-bottom: 10px;
}

.second .latest .box .card .details .left .info .rate{
display: flex;
align-items: center;
margin-left: 10px;
margin-right: 10px;
}

.second .latest .box .card .details .left .info .rate i{
font-size: 12px;
color: #ffd500;
margin-right: 5px;
}

.second .latest .box .card .details .left .info .rate p{
font-size: 12px;
}

.second .latest .box .card .details .left .info .time{
display: flex;
align-items: center;
}

.second .latest .box .card .details .left .info .time i{
font-size: 12px;
color: #ffd500;
margin-left: 5px;
}

.second .latest .box .card .details .left .info .time p{
font-size: 12px;
margin-left: 5px;
}

.second .latest .box .card .details .right{
position: absolute;
right: 0;
bottom: 0;
color: #fff;
transform: translateX(100px);
transition: 0.4s;
opacity: 0;
}

.second .latest .box .card:hover .details .right{
opacity: 1;
transform: translateX(0);
}

.second .latest .box .card .details .right i{
width: 40px;
height: 40px;
line-height: 40px;
font-size: 20px;
text-align: center;
background-color: #ffe100;
border-radius: 50%;
cursor: pointer;
color: #282931;
margin: 0 10px 8px 0;
}

.second .latest .box .card img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}

/*....view movie  #more-content*/

#more-content {
    display: none;
}

.second .latest .box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.second .latest #more-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 45px; /* Adjust the gap as needed */
    margin-top: 20px; /* Adjust margin as needed */
}

.second .latest #more-content .card {
    width: 250px; /* Adjust card width as needed */
    height: 370px; /* Adjust card height as needed */
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.second .latest #more-content .card .details {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.second .latest #more-content .card:hover .details {
    opacity: 1;
}

.second .latest #more-content .card .details .left {
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100%);
    transition: 0.4s;
    opacity: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.second .latest #more-content .card:hover .details .left {
    opacity: 1;
    transform: translateX(0);
}

.second .latest #more-content .card .details .left p.name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.second .latest #more-content .card .details .left .date_quality {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.second .latest #more-content .card .details .left .date_quality p.date {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

.second .latest #more-content .card .details .left p.category {
    font-size: 13px;
    margin-bottom: 5px;
}

.second .latest #more-content .card .details .left .info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.second .latest #more-content .card .details .left .info .rate,
.second .latest #more-content .card .details .left .info .time {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.second .latest #more-content .card .details .left .info .rate i,
.second .latest #more-content .card .details .left .info .time i {
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
}

.second .latest #more-content .card .details .left .info .rate p,
.second .latest #more-content .card .details .left .info .time p {
    font-size: 12px;
}


.second .latest #more-content .card .details .right {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    transform: translateX(100%);
    transition: 0.4s;
    opacity: 0;
    padding: 5px;
}

.second .latest #more-content .card:hover .details .right {
    opacity: 1;
    transform: translateX(0);
}

.second .latest #more-content .card .details .right i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
}
.second .latest .box1 .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}






/*---------*/

.upcoming{
width: 100%;
height: auto;
margin: 0 auto;
padding-bottom: 25px;
background-color: #171717;
}

.upcoming .movies_box{
width: 95%;
margin: 0 auto;
}

.upcoming .movies_box h1{
font-size: 20px;
color: #fff;
margin-bottom: 20px;
}
.upcoming .movies_box .box{
display: flex;
align-items: center;
justify-content: space-between;
}

.upcoming .movies_box .box .card{
width: 250px;
height: 370px;
margin: 10px;
overflow: hidden;
border-radius: 8px;
}

.upcoming .movies_box .box .card .details{
width: 250px;
height: 370px;
overflow: hidden;
position: absolute;
border-radius: 8px;
transition: 0.3s;
opacity: 0;
}

.upcoming .movies_box .box .card:hover .details{
opacity: 1;
background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.upcoming .movies_box .box .card .details .left{
position: absolute;
bottom: 0;
color: #fff;
transform: translateX(-100px);
transition: 0.4s;
opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .left{
opacity: 1;
transform: translateX(0);
}

.upcoming .movies_box .box .card .details .left p.name{
width: 100%;
font-size: 20px;
font-weight: bold;
margin-left: 10px;
margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .date_quality{
display: flex;
align-items: center;
}

.upcoming .movies_box .box .card .details .left .date_quality p.quality{
width: 30px;
font-size: 13px;
background: #ffe100;
color: #282931;
margin-left: 10px;
margin-bottom: 8px;
text-align: center;
font-weight: bold;
}

.upcoming .movies_box .box .card .details .left .date_quality p.date{
color: #fff;
font-size: 15px;
font-weight: bold;
text-align: left;
margin-left: 10px;
margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left p.category{
margin-left: 10px;
font-size: 13px;
margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left .info{
display: flex;
align-items: center;
margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .info .time{
display: flex;
align-items: center;
}

.upcoming .movies_box .box .card .details .left .info .time i{
font-size: 12px;
color: #ffd500;
margin-left: 5px;
}

.upcoming .movies_box .box .card .details .left .info .time p{
font-size: 12px;
margin-left: 5px;
}

.upcoming .movies_box .box .card .details .right{
position: absolute;
right: 0;
bottom: 0;
color: #fff;
transform: translateX(100px);
transition: 0.4s;
opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .right{
opacity: 1;
transform: translateX(0);
}

.upcoming .movies_box .box .card .details .right i{
width: 40px;
height: 40px;
line-height: 40px;
font-size: 20px;
text-align: center;
background-color: #ffe100;
border-radius: 50%;
cursor: pointer;
color: #282931;
margin: 0 10px 8px 0;
}

.upcoming .movies_box .box .card img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}




/*----------*/

.show{
width: 100%;
height: auto;
margin: 0 auto;
padding-bottom: 25px;
background-color: #171717;
}

.show .tv_show{
width: 95%;
margin: 0 auto;
}

.show .tv_show h1{
font-size: 20px;
color: #fff;
margin-bottom: 20px;
}

.show .tv_show .box{
display: flex;
align-items: center;
justify-content: space-between;
}

.show .tv_show .box .card{
width: 250px;
height: 370px;
margin: 10px;
overflow: hidden;
border-radius: 8px;
}

.show .tv_show .box .card .details{
width: 250px;
height: 370px;
overflow: hidden;
position: absolute;
border-radius: 8px;
transition: 0.3s;
opacity: 0;
}

.show .tv_show .box .card:hover .details{
opacity: 1;
background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.show .tv_show .box .card .details .left{
position: absolute;
bottom: 0;
color: #fff;
transform: translateX(-100px);
transition: 0.4s;
opacity: 0;
}

.show .tv_show .box .card:hover .details .left{
opacity: 1;
transform: translateX(0);
}

.show .tv_show .box .card .details .left p.name{
width: 100%;
font-size: 20px;
font-weight: bold;
margin-left: 10px;
margin-bottom: 10px;
}

.show .tv_show .box .card .details .left .date_quality{
display: flex;
align-items: center;
}

.show .tv_show .box .card .details .left .date_quality p.quality{
width: 30px;
font-size: 13px;
background: #ffe100;
color: #282931;
margin-left: 10px;
margin-bottom: 8px;
text-align: center;
font-weight: bold;
}

.show .tv_show .box .card .details .left .date_quality p.date{
color: #fff;
font-size: 15px;
font-weight: bold;
text-align: left;
margin-left: 10px;
margin-bottom: 8px;
}

.show .tv_show .box .card .details .left p.category{
margin-left: 10px;
font-size: 13px;
margin-bottom: 8px;
}

.show .tv_show .box .card .details .left .info{
display: flex;
align-items: center;
margin-bottom: 10px;
}

.show .tv_show .box .card .details .left .info .rate{
display: flex;
align-items: center;
margin-left: 10px;
margin-right: 10px;
}

.show .tv_show .box .card .details .left .info .rate i{
font-size: 12px;
color: #ffd500;
margin-right: 5px;
}

.show .tv_show .box .card .details .left .info .rate p{
font-size: 12px;
}

.show .tv_show .box .card .details .left .info .time{
display: flex;
align-items: center;
}

.show .tv_show .box .card .details .left .info .time i{
font-size: 12px;
color: #ffd500;
margin-left: 5px;
}

.show .tv_show .box .card .details .left .info .time p{
font-size: 12px;
margin-left: 5px;
}

.show .tv_show .box .card .details .right{
position: absolute;
right: 0;
bottom: 0;
color: #fff;
transform: translateX(100px);
transition: 0.4s;
opacity: 0;
}

.show .tv_show .box .card:hover .details .right{
opacity: 1;
transform: translateX(0);
}

.show .tv_show .box .card .details .right i{
width: 40px;
height: 40px;
line-height: 40px;
font-size: 20px;
text-align: center;
background-color: #ffe100;
border-radius: 50%;
cursor: pointer;
color: #282931;
margin: 0 10px 8px 0;
}

.show .tv_show .box .card img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}




.newsletter{
width: 100%;
height: auto;
padding: 0 0 40px 0;
background-color: #171717;
}

.newsletter h1{
text-align: center;
color: #ffe100;
}

.newsletter .news_card{
width: 550px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

.newsletter .news_card input{
width: 550px;
height: 55px;
margin-top: 20px;
border-radius: 35px;
border: 3px solid #ffe100;
padding: 0 10px;
outline: none;
background: none;
color: #cccccc;
}

.newsletter .news_card button{
position: absolute;
right: 0;
width: 100px;
height: 45px;
border-radius: 25px;
margin-top: 20px;
margin-right: 8px;
border: 0;
outline: none;
background-color: #ffe100;
font-weight: bold;
font-size: 15px;
cursor: pointer;
}


p.end{
background: #171717;
text-align: center;
color: #cccccc;
padding: 15px 0;
}

p.end span{
color: #ffe100;
}

p.end span i{
margin: 0 8px;
}




/*....view more....*/

.more {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 5px; /* Adjust the margin-top to move both the link and icon upwards */
    margin-left: 1320px;
}

.more a {
    color: teal;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 5px; /* Adjust spacing between text and icon */
}

.more i {
    color: teal; /* Match the color of the icon with the text */
}





